.button {
  @include transition(background-color .2s);
  background-color: $color-primary;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
  height: 40px;
  outline: none;
  overflow: visible;
  padding: 0 6px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: top;

  &:hover,
  &:focus {
    background-color: $color-primary-dark;
  }

  &:active {
    outline: none;
    padding: 0 6px;
    transform: scale(.95);
  }
}
