.full_width {
  width: 100%;

  &::after {
    clear: right;
    content: '';
    display: block;
  }
}

.post_text {
  box-sizing: border-box;
  min-height: 60px;
  overflow-x: hidden;
  resize: none;
  width: 100%;
}

.post_break {
  border: 1px #ddd solid;
  color: $color_white;
  margin: 10px 0;
}

.post_file {
  background: url('../img/1472748356_paperclip.svg') left no-repeat;
  background-size: 2rem;
  border: 0;
  border-radius: $border_radius;
  color: $color_second_text;
  display: inline-block;
  font-size: 1.6rem;
  padding: 3px 3px 3px 25px;

  &:hover,
  &:focus {
    background-color: darken($color_white, 12);
    cursor: pointer;
  }
}

.inputfile {
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: .1px;
  z-index: -1;
}

.post_submit {
  background-color: $color_primary;
  border-radius: $border_radius;
  color: $color_white;
  float: right;
  padding: 2px 4px;

  &:hover,
  &:focus {
    background-color: $color_primary_dark;
    cursor: pointer;
  }
}

.post_file_upload {
  background-image: url('../img/1472748322_image.svg') !important;
}
