<div class="box">
  <form action="#" method="post" enctype="multipart/form-data">
    <div class="full_width">
      <textarea class="js-auto-size post_text" type="text" placeholder="Write something ..."></textarea>
    </div>
    <div class="full_width"><hr class="post_break"></div>
    <div class="full_width">
      <input class="inputfile" type="file" id="file" multiple>
      <label class="post_file" for="file">Add File...</label>
      <input class="post_submit" type="submit" value="Post">
    </div>
  </form> <!-- add-post -->
</div>
