.logo-container {
  display: table-cell;
  height: 100%;
  padding: 0 50px;
  text-align: right;
  vertical-align: middle;
  width: 50%;

  @media screen and (max-width: 768px){
    box-sizing: border-box;
    display: block;
    height: 220px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
}

.logo {
  max-width: 500px;
  width: 100%;

  @media screen and (max-width: 768px) {
    height: 100%;
    max-height: 200px;
    max-width: 200px;
  }
}
