.navigation {
  display: inline-block;
  float: left;
  margin-right: 20px;
  max-width: 280px;
  width: 100%;
}

.nav {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 6px 0;
  }

  a {
    border-radius: $border_radius;
    color: $color_text;
    text-decoration: none;
    transition: $transition_time ease;

    &:hover,
    &:focus {
      color: $color_primary_dark;
      cursor: pointer;
    }
  }
}

.ico {
  background-position: 3px center;
  background-repeat: no-repeat;
  background-size: 2.2rem;
  font-size: 2.2rem;
  padding: 3px;
  padding-left: 32px;

  &:hover,
  &:focus {
    background-color: darken($bg_main, 12);
    color: $color_primary_dark;
    cursor: pointer;
    text-decoration: none;
  }
}

.ico_home {
  background-image: url('../img/1472748307_house.svg');
}

.ico_members {
  background-image: url('../img/1472748287_user-group.svg');
}

.ico_images {
  background-image: url('../img/1472748322_image.svg');
}

.ico_events {
  background-image: url('../img/1472748293_calendar.svg');
}

.ico_manifesto {
  background-image: url('../img/1472748372_book.svg');
}

.ico_files {
  background-image: url('../img/1472748330_folder-blue.svg');
}

.ico_time {
  background-image: url('../img/1472748379_clock.svg');
}

.ico_settings {
  background-image: url('../img/1472748346_cog.svg');
}
