<div class="navigation">
  <nav>
    <ul class="nav">
      <li><strong class="ico ico_home">Domu</strong></li>
      <li><a class="ico ico_members" href="./members.html">Seznam Clenu</a></li>
      <li><a class="ico ico_images" href="./album.html">Album fotek</a></li>
      <li><a class="ico ico_events" href="./events.html">Udalosti</a></li>
      <li><a class="ico ico_manifesto" href="./manifesto.html">Manifest</a></li>
      <li><a class="ico ico_files" href="./files.html">Soubory</a></li>
      <li><a class="ico ico_time" href="./time.html">Cas</a></li>
      <li><a class="ico ico_settings" href="./settings.html">Nastaveni</a></li>
    </ul>
  </nav>
</div> <!-- navigation -->
