<div class="box">
  <h2 class="h2_center"><span>Manifest Siebensechsunddreißiggentlemansklubu</span></h2>
  <ol>
    <li>Prvni bod</li>
    <li>Druhy bod</li>
    <li>Treti...</li>
    <li>Jak to asi bude pokracovat...</li>
    <li>haha za 5. S trochou vice text <br> na novem radku pokracujic</li>
  </ol>
</div> <!-- manifest -->
