$color_primary: #0aa453;
$color_primary_dark: darken($color_primary, 12);
$color_primary_light: lighten($color_primary, 10);
$color_accent: #ff6961;
$color_white: #fff;
$color_light_grey: #f3f3f3;
$color_black: #000;
$color_second_text: #888;
$bg_main: #f5f5f5;
$color_text: #212121;

$header_height: 64px;
$border_radius: 4px;
$scroll_up_margin: 40px;

$transition_time: .3s;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$margin-50px: 50px;
$content: 1200px;
