@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,300,300italic);

* {
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather', serif;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

main {
  background-color: $bg_main;
  min-height: 100%;
  padding-top: 74px;
}

.main_content {
  display: inline-block;
  float: left;
  margin: 8px 0;
  max-width: 800px;
  width: 100%;
}

.main-login {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0;
  background: 0;

  @media (max-width: 768px) {
    background-color: rgba($color-black, .4);
    min-height: 100%;
  }
}

input,
textarea {
  border: 0;
  font-family: inherit;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  transition: $transition_time ease;
  vertical-align: top;
}

.body-login {
  background-attachment: fixed;
  background-image: url('../../img/bg_login.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.well {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;

  &::after {
    clear: left;
    content: '';
    display: block;
  }

  @media screen and (max-width: 1120px) {
    margin: 0 10px;
  }
}

.heading {
  color: $color-white;
  font-size: 4rem;
  font-weight: lighter;
  margin-top: 0;
  padding-top: 0;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.link {
  @include transition(color .2s);
  color: $color-black;
  text-decoration: none;

  &:visited {
    color: $color-black;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.sr_only {
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}

.box {
  background-color: $color_white;
  border-radius: $border_radius;
  box-shadow: 0 2px 6px 0 rgba($color_black, .23);
  margin-bottom: 20px;
  padding: 10px;
}

a {
  border-radius: $border_radius;
  color: $color_text;
  text-decoration: none;
  transition: $transition_time ease;

  &:hover,
  &:focus {
    color: $color_primary_dark;
    cursor: pointer;
  }
}

.h2_center {
  font-size: 2.2rem;
  text-align: center;

  span {
    border-bottom: 2px solid $color_primary_dark;
  }
}

::selection {
  background: $color_primary;
  color: white;
}

::-moz-selection {
  background: $color_primary;
  color: white;
}
