.box_3 {
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  width: 32.2%;

  &:last-child {
    margin-right: 0;
  }
}

.avatar_holder {
  background-color: #5480e6;
  border-radius: $border_radius $border_radius 0 0;
  height: 100px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  width: 100%;

  .avatar {
    bottom: -20px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
    z-index: auto;
  }
}

.member_info {
  font-size: 1.4rem;
  margin: 0;
  padding: 0 10px 10px;
  word-wrap: break-word;
}
