<div class="box box_3">
  <div class="avatar_holder">
    <img class="avatar" src="./assets/img/100.gif" alt="">
  </div>
  <h2 class="h2_center">Vojtěch Pešek</h2>
  <p class="member_info">
    Reichskanzler, Tiskový mluvčí
  </p>
</div> <!-- teaser-friend -->
