$header_height: 64px;

.fixed_header {
  background-color: rgba($color_primary, .9);
  box-shadow: 0 2px 6px 0 rgba($color_black, .23);
  height: $header_height;
  padding: 7px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;

  img {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
}

.avatar {
  border-radius: 50%;
  position: relative;
  width: 5rem;
  z-index: -2;
}

.avatar_shadow {
  border-radius: 50%;
  box-shadow: inset 0 0 2px rgba($color_black, .6);
  display: inline-block;
  height: 5rem;
  width: 5rem;
}

.container_title {
  color: $color_white;
  display: inline-block;
  padding: 0 1rem;
  vertical-align: top;
}

.user_name {
  font-size: 2.3rem;
  margin: 0 0 .3rem;
}

.user_rank {
  font-size: 1.5rem;
  margin: 0;
}

.search {
  float: right;
  font-size: 0;
  margin-top: 10px;

  &::after {
    clear: both;
    content: '';
  }

  input {
    &[type='search'] {
      border-radius: $border_radius 0 0 $border_radius;
      height: 31px;
      padding-left: 10px;
    }

    &[type='submit'] {
      background-color: $color_white;
      background-image: url('../img/1472748406_icon-111-search.svg');
      background-position: center -1px;
      background-repeat: no-repeat;
      border-radius: 0 $border_radius $border_radius 0;
      cursor: pointer;
      float: right;
      height: 31px;
      position: relative;
      width: 40px;

      &:hover,
      &:focus {
        background-color: darken($color_white, 12);
      }
    }
  }
}

.dropdown {
  background-color: transparent;
  background-image: url('../img/drop-down-arrow.svg');
  background-position: center 8px;
  background-repeat: no-repeat;
  background-size: 15px;
  border: 0;
  border-radius: 50%;
  float: right;
  height: 31px;
  margin-left: 15px;
  margin-top: 10px;
  outline: none;
  transition: $transition_time ease;
  width: 30px;

  &:hover,
  &:focus {
    background-color: $color_primary_dark;
    cursor: pointer;
  }
}
