<header class="fixed_header">
  <div class="well">
    <div class="avatar_shadow">
      <img class="avatar" src="assets/img/50.gif" alt="Profile Image"/>
    </div>
    <div class="container_title">
      <p class="user_name">Gentleman</p>
      <p class="user_rank">Gentleman' title</p>
    </div>

    <button class="dropdown sr_only">More Options</button>

    <form class="search" action="submit">
      <input type="search" name="search-query" id="search" placeholder="Search">
      <input class="sr_only search-submit" type="submit">
    </form>

  </div>
</header> <!-- navigation -->
