.scroll_up {
  background: url('../img/ic_keyboard_arrow_up_white_24px.svg') no-repeat center;
  background-color: $color_primary;
  background-size: 34px;
  border-radius: 50%;
  bottom: $scroll_up_margin;
  display: none;
  height: 40px;
  position: fixed;
  right: $scroll_up_margin;
  width: 40px;

  &:hover,
  &:focus {
    background-color: $color_primary_dark;
    background-size: 38px;
  }
}
