.post_avatar {
  margin-right: 10px;
  z-index: auto;
}

.post_paragraph {
  color: $color_text;
  font-size: 1.6rem;
  margin: 10px 0;
}

.post_header {
  display: inline-block;
  vertical-align: top;
}

.post_title {
  display: block;
  font-size: 2rem;
  margin-bottom: 5px;
}

.post_date {
  color: $color_second_text;
  font-size: 1.4rem;
}
