.album_description {
  font-size: 1.6rem;
  text-align: center;
}

.album_row {
  display: flex;
  flex-direction: row;

  a {
    font-size: 0;
    margin: 0 2.5px;
    overflow: hidden;
  }
}

.image_preview {
  height: 190px;
  transition: transform $transition_time ease-in-out;
  vertical-align: left;
  width: 190px;

  &:hover {
    transform: scale(1.05);
  }
}
