<div class="box">
  <h2 class="h2_center"><span><a href="#">Album: Krkonose 2016</a></span></h2>
  <p class="album_description">Tady je nejaky popisek tohoto alba. Proste at to  neni uplne prazdne :)</p>
  <div class="album_row">
    <a href="assets/img/200.gif" target="_blank"><img src="assets/img/200.gif" alt="" class="image_preview"></a>
    <a href="assets/img/200.gif" target="_blank"><img src="assets/img/200.gif" alt="" class="image_preview"></a>
    <a href="assets/img/200.gif" target="_blank"><img src="assets/img/200.gif" alt="" class="image_preview"></a>
    <a href="assets/img/200.gif" target="_blank"><img src="assets/img/200.gif" alt="" class="image_preview"></a>
  </div>
  <div class="album_row"></div>
</div> <!-- teaser-album -->
