.login {
  background-color: rgba($color-black, .4);
  display: table-cell;
  max-height: 100%;
  padding: 50px;
  vertical-align: middle;
  width: 50%;

  @media screen and (max-width: $breakpoint-tablet) {
    background-color: transparent;
    box-sizing: border-box;
    display: block;
    padding: 30px 20px;
    text-align: center;
    width: 100%;
  }
}

.login-form-container {
  box-sizing: border-box;
  margin: 0 0 15px;
  max-width: 370px;
  width: 100%;

  @media screen and (max-width: $breakpoint-tablet) {
    display: inline-block;
    max-width: 300px;
  }
}

.login-heading {
  font-style: italic;

  @media screen and (max-width: $breakpoint-tablet) {
    text-align: center;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.login-form {
  width: 100%;
}

.login-input-label {
  color: $color-white;
  font-size: 1.8rem;
  margin-bottom: 10px;
  width: 100%;

  @media screen and (max-width: $breakpoint-tablet) {
    display: block;
    font-size: 1.6rem;
    margin: 0;
    text-align: left;
  }
}

.login-input {
  -webkit-appearance: none;
  border: $color-white solid 2px;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1.6rem;
  height: 34px;
  margin: 5px 0;
  overflow: hidden;
  padding: 0 5px 2px;
  width: 100%;

  &:focus {
    background-color: $color_light_grey;
    border: $color-primary solid 2px;
    outline: 0;
    outline-offset: 0;

    &:invalid {
      border: $color-accent solid 2px;
    }
  }

  &:invalid {
    box-shadow: none;
  }
}

.login-input-username {
  margin-bottom: 20px;

  @media screen and (max-width: $breakpoint-mobile) {
    margin-bottom: 15px;
  }
}

.login-link {
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &focus {
    color: $color-primary-light;
    text-decoration: underline;
  }
}

.link-forgot {
  box-sizing: border-box;
  float: left;
  font-size: 1.4rem;
  margin-top: 30px;
}

.form-button {
  border: 0;
  float: right;
  margin-top: 20px;
  width: 130px;
}

.login-message {
  border-radius: 3px;
  color: $color-white;
  display: none;
  font-size: 1.4rem;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
}

.message-error {
  background-color: $color-accent;
}

.message-succes {
  background-color: $color-primary;
}

.reset-form {
  display: none;
}
