.clock_wrapper {
  display: table;
  margin: 0 auto;
}

.clock {
  background: darken($color_white, 10) url('../img/station_clock.svg') no-repeat center;
  background-size: 91%;
  border-radius: 50%;
  height: 30em;
  margin: 30px 10px 10px;
  position: relative;
  width: 30em;

  &::after {
    background: $color_accent;
    border-radius: 50%;
    content: '';
    height: 5%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    z-index: 10;
  }
}

.seconds {
  background: $color_accent;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

.minutes {
  background: $color_black;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

.hours {
  background: $color_black;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.seconds_container {
  animation: rotate 60s infinite linear;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.minutes_container,
.hours_container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.minutes_container {
  transform: rotate(216deg);
}

.hours_container {
  transform: rotate(225deg);
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
