<div class="box clock_wrapper">
  <h2 class="h2_center"><span>Aktualni Cas</span></h2>
  <div class="clock">
    <div class="hours_container">
      <div class="hours"></div>
    </div>
    <div class="minutes_container">
      <div class="minutes"></div>
    </div>
    <div class="seconds_container">
      <div class="seconds"></div>
    </div>
  </div>
</div> <!-- clock -->
